.button {
  display: block;
  color: #161616;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #2d6e96;
  background: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 11px;
  padding-bottom: 11px;
  cursor: pointer;
  width: 100%;
}
