.nav {
  background-color: #161616;
}

.nav a {
  color: #fff;
}

.nav li {
  color: #fff;
}

.linkWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin: auto;
  max-width: 1280px;
}

.basket {
  display: flex;
}

.basketCountBackground {
  background-color: #36454f;
  font-size: 15px;
  border-radius: 50%;
  padding: 0 5px;
  position: relative;
  left: -8px;
  top: -10px;
}

.logo {
  color: azure;
  font-weight: bold;
  word-spacing: 5px;
}
