.cartItem {
  display: flex;
  max-width: 500px;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  margin: auto;
  gap: 10%;
}

.itemImage {
  width: 150px;
  max-height: 150px;
}

.itemImage img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (max-width: 500px) {
  .itemImage {
    width: 100px;
    max-height: 100px;
  }

  .cartItem h2 {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .itemImage {
    width: 90px;
    max-height: 90px;
  }
}
