.calculatedDiscount {
  position: absolute;
  top: 0px;
  background-color: #2d6e96;
  padding: 10px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  font-weight: bold;
  color: #fff;
}
